<%= form_for(@tone) do |f| %>
  <% if @tone.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tone.errors.count, "error") %> prohibited this tone from being saved:</h2>

      <ul>
      <% @tone.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :description %><br>
    <%= f.text_area :description, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :short %><br>
    <%= f.text_area :short, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :body %><br>
    <%= f.text_area :body, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :de_short %><br>
    <%= f.text_area :de_short, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :de_body %><br>
    <%= f.text_area :de_body, class: 'form-control' %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
