<!DOCTYPE html>
<html>
<head>
  <title>Tones</title>
  <%= stylesheet_link_tag    "tones/application", media: "all" %>
  <%= javascript_include_tag "tones/application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <section>
    <div class="container">
      <div id='sign_out_tone'>
        <%= link_to 'Sign out', sign_out_tones_path, method: :delete if session['tones_access'] == true %>
      </div>
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <%= render :partial => '/layouts/tones/alert'  %>
          <%= yield %>
        </div>
      </div>
    </div>
  </section>
</body>
</html>
